<?xml version="1.0" encoding="UTF-8"?>
<beans 
      xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  xmlns:mvc="http://www.springframework.org/schema/mvc"
      xsi:schemaLocation="
	  http://www.springframework.org/schema/beans 
	  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
      ">
	
	
	
	<!-- 
		必写:
		控制器,Action处理类
			name:表示请求的路径
			class:表示处理类的全路径。
	 -->      
	<!-- <bean name="/hello.action" class="com.bie.lesson01.HelloAction"></bean> -->
    <!-- 配置了前置和后置名称 -->
    <!-- 
    	第一种:
    	映射器,注册控制器(程序员)
    	1)org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping(核心)
			将程序员定义的Action所对应的<bean>标签的name属性作为请求路径
     -->
    <!-- 
    	<bean name="/add.action" class="com.bie.lesson02.EmpAction"></bean>
	    <bean name="/delete.action" class="com.bie.lesson02.EmpAction"></bean>
	    <bean name="/update.action" class="com.bie.lesson02.EmpAction"></bean>
	    <bean name="/select.action" class="com.bie.lesson02.EmpAction"></bean> 
	-->
    
    <!-- 
    	第二种:
    	2)org.springframework.web.servlet.handler.SimpleUrlHandlerMapping
			/delete.action和/update.action和/find.action请求路径都交由<bean>标签为id的Action，即
			多个路径对应同一个Action 
     -->
     <!-- 注册控制器(程序员) -->
     <bean id="EmpActionId" class="com.bie.lesson02.EmpAction"></bean>
	 <!-- 
	 	注册映射器(handler包)(框架) 
	 		适合于将多个请求，映射到同一个Action中
	 -->
	  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">   
     	<property name="mappings">
     		<props>
     			<!-- key表示请求路径 -->
     			<prop key="/add.action">EmpActionId</prop>
     			<prop key="/delete.action">EmpActionId</prop>
     			<prop key="/update.action">EmpActionId</prop>
     			<prop key="/select.action">EmpActionId</prop>
     			
     		</props>
     		
     	</property>
      </bean>	
    
    
    
    
      
    <!-- 
    	视图解析器(框架) 
    		ModelAndView对象中即可以封装真实视图路径名，也可以封装视图路径的逻辑名，springMvc.xml
    		如果Action中书写的是视图逻辑名称，那么视图解析器就必须配置。
    		如果Action中书写的是视图真实名称，那么视图解析器就可选配置。
    -->  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    	<property name="prefix" value="/jsp/"/>
    	<property name="suffix" value=".jsp"/>
    </bean> 
      
      	
      	
      	
      	
      	
    <!-- 
    	映射器(框架),可省略。handler
    		BeanNameUrlHandlerMapping表示将bean标签的name属性当前URL请求。
     -->  
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
    
    <!-- 
    	适配器(框架),可省略。 mvc
    		SimpleControllerHandlerAdapter表示用于寻找实现了Controller接口的Action类。	
   	-->  
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>  
      
    <!-- 
    	视图解析器(框架),可省略。view
    		InternalResourceViewResolver表示通过ModelAndView对象中封装的视图名称找到真正的页面。
     -->  
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"></bean> 
    
     	
</beans>      


